@import "../utils/mixins.scss";
@import "../utils/colors.scss";
.exploration {
    text-align: center;    
    h2{
        font-size: 2rem;
    }    
    p{
        font-size: 1rem;
    }    
    button{
        @include base-button;
        @include shadow-btn;
    }
}

.loader{
    position: fixed;
    color: $Primaire;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    inset: 0;   // top: 0;bottom: 0;right: 0;left: 0;
    z-index: 1;
    background-color: #fff;
    opacity: 0.8;
    animation: disappear-loader 500ms 3s;    
    animation-fill-mode: forwards; //pour finir l'animation qu'elle reviens pas en pos initial
    transform-origin: top;
    i{
        animation: spin 3s infinite linear;
    }
}

@keyframes disappear-loader{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}

@keyframes spin{

}