footer{
    background-color: $footerbg;
    padding: 1rem 2rem;
    color: white;

    h2{    
        font-family: "shrikhand", "cursiv";
        font-weight: 500;
        padding: 1rem 0;
    }
    p{
        padding: 0.2rem;
    }
    a{
        color: white;
    }
    
}
