@import "../utils/variables.scss";

.menus{
    background-color: #f6f6f6;
    h2{
       // margin-bottom: 2rem;
    }
    

    .menus__cards{
        display: grid;
        grid-template-columns: 1fr 1fr; // 2colonnes de la meme largeur
        gap: 2rem;
        @media (max-width:$breakpoint) {
            grid-template-columns: 1fr;           
        }
    }

    .card{        
        & .card__image{
            height: 15rem;
            border-radius: 3rem;
            background-size: cover;
        }

        // Loop using integers
        @for $restaurant from 1 to 5 {
            &:nth-child(#{$restaurant}) {
                .card__image {
                    background-image: url(img/restaurants/#{$restaurant}.jpg);            
                }
            }
        }
    }
}