@import "../utils/variables.scss";

.page__banner img{
    display: block;
    width:100%;
    height:70vh;
    object-fit:cover;
    object-position:center bottom;
}
.restaurant__main {
    position: relative;
    margin-top: -2rem;
    background: white;
    padding: 0 1rem;
    border-radius: 2rem 2rem 0 0;
    h2{
        font-family: "Shrikhand", cursive;
        padding: 2rem 1rem;
    }
}
.grid__menus{
    background: yellow;
    display: grid;
    grid-template-columns: repeat(3, 1fr); // =3 colonnes chacun avec avec une fraction de l'ecran
    gap: 1rem;
    @media (max-width: $breakpoint){
        grid-template-columns: 1fr;
    }
    & > *{
        border: 1px solid red;
    }
}

.page__main{
    padding: 0 1rem;
}