.page__banner img{
    display: block;
    width:100%;
    height:70vh;
    object-fit:cover;
    object-position:center bottom;
}
.restaurant__main {
    margin-top: -2rem;
    background: green;
    padding: 0 1rem;
    border-radius: 2rem 2rem 0 0;
    h2{
        font-family: "Shrikhand", cursive;
        padding: 2rem 1rem;
    }
}
