@import "../utils/variables.scss";
@import "../utils/colors.scss";
@import "../utils/mixins.scss";
@import"../utils/animation.scss";

.page__banner img{
    display: block;
    width:100%;
    height:70vh;
    object-fit:cover;
    object-position:center;
    @media (max-width: $breakpoint) {
        height: 30vh;
    }
}
.fa-arrow-left{
    font-size: 2rem;
    position: absolute;
    left: 1rem;
    top: 1.9rem;
}
a:hover .fa-solid{
    color: transparent; 
    @include gradient;
    background-clip: text;
    -webkit-background-clip:text ;
}


.restaurant__main {
    position: relative;
    margin-top: -2rem;
    background: $lightergrey;
    border-radius: 2rem 2rem 0 0; //animation
    h2{
        font-family: "Shrikhand", cursive;
        padding: 2rem 1rem;
    }
    i{
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 1.9rem;
    }
    .fa-solid{
        color: transparent;
         }
    &:hover .fa-solid{
        color: transparent; 
        @include gradient;
        background-clip: text;
        -webkit-background-clip:text;
        animation-name: FadeIn;
        animation-duration: 1s;
    }

}
.page__main{
    padding: 0 1rem;
    background: $lightergrey;
}
.grid__menus{
    background: $lightergrey;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    //grid-template-rows: repeat(3, 1fr); // =3 colonnes chacun avec avec une fraction de l'ecran
    @media (min-width: $breakpoint) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
      }
    //@media (max-width: $breakpoint){
        //grid-template-columns: 1fr;
    //}
    .box{
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
    h3{
        text-transform:uppercase;
        font-weight:400;
        position: relative;
        &::after{
            content:"";          
            position:absolute;
            top: 1.5em;
            left:0;
            height:0.25rem;
            width:3rem;
            background-color: $Tertiaire; 
        }
    }
    .menus__group{
        overflow: hidden;
        border-radius: 1rem;
        @include shadow-btn;
        @for $i from 1 through 15 {
            &:nth-child(#{$i}) {
                animation-delay: 100ms * $i;
            } 
        }
        animation: appear-menu 1s;
        animation-fill-mode: both;
        .submenu{                         
            display: flex;
            background-color: white;
            overflow: hidden;           
            
            .submenu__description{
                padding: 1rem;
                overflow: hidden;
            }
            
            .price{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 1rem;
                margin-left: auto;
                font-weight: 900;
            }
            .price__validation{
                //possibilite de mettre une variable local ici $button-width: 4rem
                display: grid;
                place-items: center;
                flex-shrink: 0; //interdit de devenur plus petit
                background-color: $Tertiaire;
                margin-right: -4rem;
                width: 4rem;
                border-radius: 0 1rem 1rem 0;
                transition: margin-right 0.65s;
                i{color: white;}
            }
            &:hover {
                cursor: pointer;
                .price__validation{
                margin-right: 0;
                }
                i{
                   animation: 0.6s spin; 
                }
            }
        }
        h4,p{
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

        }
    }
    
}
section.order{
    height: 25vh;
    display: flex;    
    align-items: center;
    justify-content: space-around;
    button{
        @include base-button
    }
}